<div class="form-create">
<header>
  <h1 class="page-header">Create Shelter</h1>
</header>
<main>
  <section>
    <%= form_tag("/shelters", method: :post) do %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Name</label>
          <%= text_field_tag :name %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAddress">Address</label>
          <%= text_field_tag :address %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <%= text_field_tag :city %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">State</label>
          <%= text_field_tag :state %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">Zip</label>
          <%= text_field_tag :zip %>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    <% end %>
  </section>
</main>
</div>