<div class="form-create">
<header>
  <h1 class="page-header">Add Pet</h1>
</header>
<main>
  <section>
    <%= form_tag("/shelters/#{@shelter.id}/pets", method: :post) do %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Name</label>
          <%= text_field_tag :name %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAddress">Description</label>
          <%= text_field_tag :description %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Approximate Age</label>
          <%= text_field_tag :age %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">Sex</label>
          <%= text_field_tag :sex %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">Image URL</label>
          <%= text_field_tag :image %>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <% end %>
  </section>
</main>
</div>