<div class="list-page-pets">

    <form action='/pets/<%= @pet.id %>/favorites' method='post'>
      <% if session[:favorites] != nil && session[:favorites].include?(@pet.id.to_s) %>
        <%=link_to  'Un-favorite This Pet', "/pets/#{@pet.id}/favorite", data: { confirm: "Are you sure you want to remove #{@pet.name} from you favorites?"}, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'Favorite This Pet', "/pets/#{@pet.id}/favorite", data: { confirm: "#{@pet.name} will be added to your favorites?" }, class: 'btn btn-success'%>
      <% end %>
    </form>
  <section>
  <br/><br/>
	<h1 id="dominant-header"> Pet Info</h1><br/>
	<h2 id="custom"><%= @pet.name %></h2><br/>
  <% if @pet.status == "pending" %>
  <h2 id="custom">On Hold For:</h2>
  <%=  link_to "#{@application_name.name}", "/applications/#{@application_name.id}" %>
  <% end %><br/><br/>
  <h2 id="custom">Adoption Status:</h2>
  <div class="erb-output">
  <%= @pet.status %>
  </div><br/>
	<%= image_tag @pet.image, :class => "image1" %>
	<h2 id="custom">Description:</h2>
  <div class="erb-output">
	<%= @pet.description  %>
  </div><br/>
	<h2 id="custom">Approximate Age:</h2>
  <div class="erb-output">
	<%= @pet.age %>
  </div><br/>
	<h2 id="custom">Sex:</h2>
  <div class="erb-output">
	<%= @pet.sex %>
  </div><br/>
	<h2 id="custom">Shelter:</h2>
	<%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}", class: 'btn btn-primary' %><br/>
  </section>
<br/>
	<form action='/pets/<%= @pet.id %>' method='post'>
	  <%= link_to 'Edit', "/pets/#{@pet.id}/edit", class: 'btn btn-info'%>
    <% if @pet.status != "pending" %>
	  <%= link_to 'Delete', "/pets/#{@pet.id}", method: :delete,  data: { confirm: "Are you sure want to delete #{@pet.name}?" }, class: 'btn btn-danger'%><br/>
    <% end %>
	</form>
  <div>
    <br/>
    <%= link_to 'View All Applications', "/pets/#{@pet.id}/pet_applications", class: 'btn btn-info' %>
  </div>
</div>
