
<% @pets.each do |pet| %>
<div class="list-page">
  <h2>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  </h2>
  <img src=<%= pet.image %> class="image">
  <h2>
    Approximate Age:
  </h2>
  <%= pet.age %>
  <h2>
    Sex:
  </h2>
  <%= pet.sex %>
  <h2>
    Shelter:
  </h2>
  <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %>
  <br/><br/>
  <%= link_to 'Edit', "/pets/#{pet.id}/edit", class: 'btn btn-info' %>
  <% if pet.status != "pending" %>
  <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete ,  data: { confirm: "Are you sure?" }, class: 'btn btn-danger'%>
  <% end %>
  </div>
<% end %>
