<div class="list-page-pets">
<% @pets.each do |pet| %>

  <h2 id="custom">
    <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: "btn btn-outline-primary", id:"pet-link"%>
  </h2>
  <img src=<%= pet.image %> class="image1">
  <h2 id="custom">
    Approximate Age:
  </h2>
  <div class="erb-output">
    <%= pet.age %>
  </div><br/>
  <h2 id="custom">
    Sex:
  </h2>
  <div class="erb-output">
  <%= pet.sex %>
  </div><br/>
  <h2 id="custom">
    Shelter:
  </h2>
  <div class="erb-output">
  <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" ,class: "btn btn-outline-primary"%>
  </div>
  <br/><br/>
  <div class="links">
  <%= link_to 'Edit', "/pets/#{pet.id}/edit", class: 'btn btn-info' %>
  <% if pet.status != "pending" %>
  <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete ,  data: { confirm: "Are you sure?" }, class: 'btn btn-danger'%>
      <% end %>
    <form action='/pets/<%= pet.id %>/favorites' method='post'>
      <% if session[:favorites] != nil && session[:favorites].include?(pet.id.to_s) %>
        <%=link_to  'Un-favorite This Pet', "/pets/#{pet.id}/favorite", data: { confirm: "Are you sure you want to remove #{pet.name} from you favorites?"}, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'Favorite This Pet', "/pets/#{pet.id}/favorite", data: { confirm: "#{pet.name} will be added to your favorites?" }, class: 'btn btn-success'%>
      <% end %>
    </form>
        </div>
  <br/><br/>
  <% end %>
</div>



 
