<header id="page-header">
  <h1 id="dominant-header" >Application Details</h1>
</header>
<main>
  <section>
    <h4>Name:</h4>
     <%= @application.name %><br/><br/>
    <h4>Address:</h4>
      <%= @application.address %><br/><br/>
    <h4>City:</h4>
      <%= @application.city %><br/><br/>
    <h4>State:</h4>
      <%= @application.state %><br/><br/>
    <h4>Zip:</h4>
      <%= @application.zip %><br/><br/>
    <h4>Phone Number:</h4>
      <%= @application.phone_number %><br/><br/>
    <h4>What Makes Your Home Ideal:</h4>
      <%= @application.description %><br/><br/>
    </section>
    <section>
      <h3>Pets Applied For</h3><br/>
      <% @application.pets.each do |pet|%>
      <section id="pet-links<%= pet.id %>">
        <%= link_to pet.name, "/pets/#{pet.id}", class: 'btn btn-primary'%><br/>
        <% @petapps.each do |petapp| %>
        <% if petapp.approved && petapp.application_id == @application.id%><br/>
          <%= link_to "Revoke Application For: #{pet.name}", "/pets/#{pet.id}/applications/#{@application.id}/revoke_status", method: :patch, class: 'btn btn-danger'%>
        <% else %><br/>
          <%= link_to "Approve Application For: #{pet.name}", "/pets/#{pet.id}/applications/#{@application.id}/approve_status", method: :patch, class: 'btn btn-success'%>
        <% end %>
          <% end %>
      </section>
      <% end %>
    </section>
  </main>
