<header id="page-header">
  <h1>New Review</h1>
</header>
  <main>
    <section>
  <%= form_tag("/shelters/#{@shelter.id}", method: :post) do %>
    <%= label_tag "Title" %>
    <%= text_field_tag :title %><br/>
    <%= label_tag "Rating" %>
    <%= select_tag :rating, options_for_select(['1', '2', '3', '4', '5']) %><br/>
    <%= label_tag "Content" %>
    <%= text_field_tag :content %><br/>
    <%= label_tag "Picture (optional)" %>
    <%= text_field_tag :image %><br/>
  <button type="submit">Submit</button>
  <% end %>
  </section>
</main>
