<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
<script src="https://kit.fontawesome.com/5716af9226.js" crossorigin="anonymous"></script></head>

<body>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="fa fa-home"></i>
              Home
              </a>
          </li>
          <li class="nav-item active">
          <li class="nav-item">
            <a class="nav-link" href="/shelters">
              <i class="fa fa-"></i>
              Shelters
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pets">
              <i class="fa fa-"></i>
              Pets
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favorites">
              <i class="fa fa-heart">
                <span class="badge badge-danger"><%= session[:favorites] == nil ? 0 : session[:favorites].length %></span>
              </i>
              Favorites
            </a>
          </li>
        </ul>
      </div>
    </nav>
<div class="content">
<div class="success_msgs">
  <p class="alert alert-light">
  <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>
</div>
  <%= yield %>
</div>
<div class="footer1">
<footer class="page-footer font-small blue darken-3">
  <!-- Footer Elements -->


    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <a href="https://github.com/tylertomlinson"><i style="margin-right: 0.5em; color: #EEEEEE;" class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i> Tyler</a>
          <a href="https://github.com/StephanieFriend/paired_adopt_dont_shop_2001"><i style="margin-right: 0.5em; color: #EEEEEE;" class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i> Project Repo</a>
					<a href="https://github.com/StephanieFriend"><i style="margin-right: 0.5em; color: #EEEEEE;" class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i> Stephanie</a>
        </div>
      </div>
    </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://adopt-dont-shop-paired-tt-sf.herokuapp.com/"> AdoptDontShop.com</a>
  </div>
</footer>
</div>
<!-- Footer -->
<script>
    setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
</script>