<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>

<body>
    <!-- Navigation -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item" id="shelters-link">
              <a class="nav-link" href="/shelters">Shelters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pets">Pets</a>
            </li>
            <li class="nav-item" id="favorite-indicator">
              <a class="nav-link" href="/favorites">Favorites: <%= session[:favorites] == nil ? 0 : session[:favorites].length %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!--  -->
    <!------ Include the above in your HEAD tag ---------->

    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="fa fa-home"></i>
              Home
              <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/shelters">
                <span class="badge badge-warning"></span>
              Shelters
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/pets">
                <span  class="badge badge-success"></span>
              Pets
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favorites">
              <i class="fa fa-envelope-o">
                <span class="badge badge-danger"><%= session[:favorites] == nil ? 0 : session[:favorites].length %></span>
              </i>
              Favorites
            </a>
          </li>
      </div>
    </nav>

<div class="flash-message" class="close" data-dismiss="toast">
    <% flash.each do |type, message| %>
         <p><%= message %></p>
        <% end %>
</div>
  <%= yield %>

  <!-- Footer -->
  <br><br><br><br><br>
   <footer class="footer">
     <div class="container">
       <div class="row align-items-center">
         <div class="col-md-4">
           <span class="copyright">Copyright &copy; AdoptDontShop 2020</span>
         </div>
         <div class="col-md-4">
           <ul class="list-inline social-buttons">
             <li class="list-inline-item">
               <a href="#">
                 <i class="fab fa-twitter"></i>
               </a>
             </li>
             <li class="list-inline-item">
               <a href="#">
                 <i class="fab fa-facebook-f"></i>
               </a>
             </li>
             <li class="list-inline-item">
               <a href="#">
                 <i class="fab fa-linkedin-in"></i>
               </a>
             </li>
           </ul>
         </div>
         <div class="col-md-4">
           <ul class="list-inline quicklinks">
             <li class="list-inline-item">
               <a href="#">Privacy Policy</a>
             </li>
             <li class="list-inline-item">
               <a href="#">Terms of Use</a>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </footer>

</body>
</html>
